---
schema: pegleg/SoftwareVersions/v1
metadata:
  schema: metadata/Document/v1
  name: software-versions-nova
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: software-versions-global
    actions:
      - method: replace
        path: .images.osh.nova
  storagePolicy: cleartext
data:
  images:
    osh:
      nova:
        nova_api: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_cell_setup: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_compute: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_compute_ssh: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_conductor: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_consoleauth: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_db_sync: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_novncproxy: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_placement: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_scheduler: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
        nova_spiceproxy: {{ repo_name }}/ubuntu-source-nova-base:bionic-master
...

